@media(prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth 
  }
}


* {
  box-sizing: border-box;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(24, 26, 27);
  color: #fff;
}

h3 {
  font-weight: 500;
}

p {
  font-size: 0.8rem;
}

a {
  font-size: 0.9rem;
  color: #7CB9E8
}

nav {
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 3px solid #fff;
}

nav header {
  padding: 15px 20px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.15;
}

nav > ul {

}

.nav-item {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
  color: #fff;
  opacity: 0.7;
}

.nav-item:first-of-type {
  border-top: 1px solid rgba(255, 255, 255, 1);
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 100%;
  padding: 10px 25px;
  height: 100%;
}

.nav-item:hover {
  opacity: 1;
}

.socials {
  display: flex;
  height: calc(100vh - 467.02px);
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.socials-item i {
  font-size: 20px;
}

main {
  position: absolute;
  top: 0;
  left: 320px;
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.main-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-section header {
  font-size: 1.5em;
}

.main-section .group:first-of-type {
  margin: 0;
}

.main-section ol li, .main-section ul li {
  font-size: 0.8rem;
  margin-left: 60px;
}

.main-section p {
  margin-left: 25px;
}

.white {
  color: #fff;
}

.flex {
  display: none;
}

media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  main {
    width: 100%;
  }
}
